[Unit]
Description=x11vnc VNC Server
After=display-manager.service network.target

[Service]
Type=simple
User=USUARIO
Environment=DISPLAY=:0
ExecStart=/usr/bin/x11vnc -display :0 -auth guess -forever -loop -noxdamage -repeat -rfbauth /home/USUARIO/.vnc/passwd -rfbport 5900 -shared -listen 0.0.0.0
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
